@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

:root {
  --header: #8a2b06;
  --color: #fff;
  --header-button: #4d1601;
  --hero: #383838;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
  --font-family: 'Noto Sans JP', sans-serif;
}
*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  color: var(--color);
  background-color: var(--hero);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}